* {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	background-color: #E7E8EA;
	padding: 20px;
}

label > * {
	margin-left: 10px;
}

.container {
	display: flex;
	align-content: space-between;
}

.viewForm, .constructForm {
	background-color: white;
	padding: 30px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.viewForm {
	align-items: flex-start;
	min-width: 300px;
	width: 55%;
	margin-right: 2%;
}

h1 {
	font-size: 18px;
	margin: 20px auto;
}

#myForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: max-content;
	width: 100%;
	padding: 20px;
	margin: 0 auto;
	border: 1px solid black;
	box-sizing: border-box;
}

#myForm > * {
	display: flex;
	width: max-content;

	margin-bottom: 10px;
	padding: 10px;
}

#myForm label {
	background-color: #E7E8EA;
}

#myForm input[type=submit],
#myForm input[type=reset] {
	width: max-content;
}

#formContent {
	display: flex;
	flex-wrap: wrap;
}

#formContent > * {
	margin: 5px;
	padding: 5px;
	background-color: #E7E800; 
}

.buttons > button {
	padding: 10px;
	width: max-content;
	margin: 20px auto;
	align-self: flex-end;
}

.buttons {
	text-align: center;
	width: 100%;
}

.deleteIcon {
	margin-top: 10px;
}

.constructForm {
	width: 43%;
}

#options > li {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#options > li > button {
	width: 100%;
	height: 100%;
	font-size: 16px;
	text-align: left;
	padding: 10px 20px;
	background: none;
	background-color: #E7E8EA;
}

.currentCreation {
	display: none;
	flex-direction: column;
	border: 1px solid black;
	text-align: center;
}

.currentCreation > input {
	margin: 10px;
	padding: 5px;
}

.currentCreation > button {
	background-color: #E7E800;
	border: none;
	padding: 10px;
	font-size: 16px;
}

.show {
	display: flex;
}

.hide {
	display: none;
}