body {
  box-sizing: border-box;
  padding: 10px 20px 30px;
  background: #eee;
  font-family: sans-serif;
}

.wrap {
  margin: 10px 20px;
  background: #fff;
  padding: 10px 20px 30px;
}

#slider {
  height: 512px;
  position: relative;
}

.animated {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  animation: changes 5s;
}

@keyframes changes {
  from { opacity: 0; }
  to { opacity: 1; }

  from { height: 0; }
  to { height: 512px; }

  from { width: 0; }
  to { width: 512px; }
}